<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.sotong_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- naverMap 사용 시 추가 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application>
        <meta-data android:name="com.naver.maps.map.CLIENT_ID"
        android:value="7wv3a79vz0" />
        <!-- You will only need to add this meta-data tag, but make sure it's a child of application -->
    </application>
    <!-- naverMap 사용 시 추가 -->

    
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <meta-data
          android:name="com.google.android.geo.API_KEY"
          android:value="AIzaSyAuNQ7_DIsXuvkUiHkbv5fUwMq49CtDhGE"/>

        <!-- You will also only need to add this uses-library tag -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustPan">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    </application>
</manifest>